<a href="https://colab.research.google.com/github/pammyyAnn/19_EXam/blob/main/19_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
filename = '/content/drive/MyDrive/FINAL_ACT1_PAM/titanic.csv'
df = pd.read_csv(filename)

In [6]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [11]:
Survived_percentage = df['Survived'].mean() * 100
print("\nPercentage of people who Survived: {:.2f}%".format(Survived_percentage))

Percentage of people who Survived: 38.38%

In [13]:
Sex_Survived_count = df.groupby('Sex')['Survived'].sum()
print("\nNumber of passengerid by Sex:")
print(Sex_Survived_count)

Number of passengerid by Sex:
Sex
female    233
male      109
Name: Survived, dtype: int64

In [19]:
cheap_ticket_passengerid_percentage = (df[df['Fare'] < 10]['PassengerId'].mean()) * 100
print("\nPercentage of passengers who paid less than $10 and passengerid: {:.2f}%".format(cheap_ticket_passengerid_percentage))

Percentage of passengers who paid less than $10 and passengerid: 45116.96%

In [17]:
average_age_not_passengerid = df[df['PassengerId'] == 0]['Age'].mean()
print("\nAverage age of those who had a passengerId: {:.2f}".format(average_age_not_passengerid))

Average age of those who had a passengerId: nan

In [20]:
average_age_passengerid = df[df['PassengerId'] == 1]['Age'].mean()
print("\nAverage age of those who did passengerid: {:.2f}".format(average_age_passengerid))

Average age of those who did passengerid: 22.00

In [22]:
average_age_by_Survived_and_Name = df.groupby(['Survived', 'Name'])['Age'].mean()
print("\nAverage age of those who did and didn't Survived grouped by name:")
print(average_age_by_Survived_and_Name )

Average age of those who did and didn't Survived grouped by name:
Survived  Name
0         Abbing, Mr. Anthony                             42.0
          Abbott, Mr. Rossmore Edward                     16.0
          Abelson, Mr. Samuel                             30.0
          Adahl, Mr. Mauritz Nils Martin                  30.0
          Adams, Mr. John                                 26.0
                                                          ...
1         Woolner, Mr. Hugh                                NaN
          Yasbeck, Mrs. Antoni (Selini Alexander)         15.0
          Young, Miss. Marie Grice                        36.0
          de Messemaeker, Mrs. Guillaume Joseph (Emma)    36.0
          de Mulder, Mr. Theodore                         30.0
Name: Age, Length: 891, dtype: float64